In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("athlete_events.csv")

# sama data löytyy myös ryhmäläiseni githubista ja saadaan käyttöön komennoilla:
# url = 'https://raw.githubusercontent.com/NikoLaaks/Analysoinnin-perusteet/main/1/athlete_events.csv'
# data = pd.read_csv(url, sep = ',')

In [2]:
data.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [3]:
data.shape[0]

271116

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [5]:
data.shape

(271116, 15)

In [6]:
data.shape[1]

15

In [7]:
data.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [8]:
data.index

RangeIndex(start=0, stop=271116, step=1)

In [9]:
data.values

array([[1, 'A Dijiang', 'M', ..., 'Basketball',
        "Basketball Men's Basketball", nan],
       [2, 'A Lamusi', 'M', ..., 'Judo', "Judo Men's Extra-Lightweight",
        nan],
       [3, 'Gunnar Nielsen Aaby', 'M', ..., 'Football',
        "Football Men's Football", nan],
       ...,
       [135570, 'Piotr ya', 'M', ..., 'Ski Jumping',
        "Ski Jumping Men's Large Hill, Team", nan],
       [135571, 'Tomasz Ireneusz ya', 'M', ..., 'Bobsleigh',
        "Bobsleigh Men's Four", nan],
       [135571, 'Tomasz Ireneusz ya', 'M', ..., 'Bobsleigh',
        "Bobsleigh Men's Four", nan]], dtype=object)

In [10]:
column_data_types = data.dtypes
print(column_data_types)

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [12]:
column_data_type = data['ID'].dtype
print(column_data_type)

int64

In [13]:
data.sort_values("Age")

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze
252231,126307,Liana Vicens,F,11.0,158.0,50.0,Puerto Rico,PUR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 200 metres Breaststroke,NaN
101378,51268,Beatrice Hutiu,F,11.0,151.0,38.0,Romania,ROU,1968 Winter,1968,Winter,Grenoble,Figure Skating,Figure Skating Women's Singles,NaN
140650,70616,Liu Luyang,F,11.0,NaN,NaN,China,CHN,1988 Winter,1988,Winter,Calgary,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
237141,118925,Megan Olwen Devenish Taylor (-Mandeville-Ellis),F,11.0,157.0,NaN,Great Britain,GBR,1932 Winter,1932,Winter,Lake Placid,Figure Skating,Figure Skating Women's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270679,135368,Antonio A. Zucchi,M,NaN,NaN,NaN,Argentina,ARG,1948 Summer,1948,Summer,London,Hockey,Hockey Men's Hockey,NaN
270774,135416,Star Zulu,M,NaN,NaN,NaN,Zambia,ZAM,1984 Summer,1984,Summer,Los Angeles,Boxing,Boxing Men's Bantamweight,NaN
270793,135426,Max Zumstein,M,NaN,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Hockey,Hockey Men's Hockey,NaN
270804,135434,Edmundo Ziga Erraz,M,NaN,180.0,95.0,Chile,CHI,1948 Summer,1948,Summer,London,Athletics,Athletics Men's Hammer Throw,NaN
270805,135435,Faelo Ziga,M,NaN,NaN,NaN,Chile,CHI,1928 Summer,1928,Summer,Amsterdam,Swimming,Swimming Men's 100 metres Freestyle,NaN

In [14]:
data.sort_values("Age", ascending=False)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
257054,128719,John Quincy Adams Ward,M,97.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN
98118,49663,Winslow Homer,M,96.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60863,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60861,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60862,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270679,135368,Antonio A. Zucchi,M,NaN,NaN,NaN,Argentina,ARG,1948 Summer,1948,Summer,London,Hockey,Hockey Men's Hockey,NaN
270774,135416,Star Zulu,M,NaN,NaN,NaN,Zambia,ZAM,1984 Summer,1984,Summer,Los Angeles,Boxing,Boxing Men's Bantamweight,NaN
270793,135426,Max Zumstein,M,NaN,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Hockey,Hockey Men's Hockey,NaN
270804,135434,Edmundo Ziga Erraz,M,NaN,180.0,95.0,Chile,CHI,1948 Summer,1948,Summer,London,Athletics,Athletics Men's Hammer Throw,NaN
270805,135435,Faelo Ziga,M,NaN,NaN,NaN,Chile,CHI,1928 Summer,1928,Summer,Amsterdam,Swimming,Swimming Men's 100 metres Freestyle,NaN

In [15]:
data.sort_values(["Age", "Year"])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze
94058,47618,"Sonja Henie (-Topping, -Gardiner, -Onstad)",F,11.0,155.0,45.0,Norway,NOR,1924 Winter,1924,Winter,Chamonix,Figure Skating,Figure Skating Women's Singles,NaN
79024,40129,Luigina Giavotti,F,11.0,NaN,NaN,Italy,ITA,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Silver
43468,22411,Magdalena Cecilia Colledge,F,11.0,152.0,NaN,Great Britain,GBR,1932 Winter,1932,Winter,Lake Placid,Figure Skating,Figure Skating Women's Singles,NaN
237141,118925,Megan Olwen Devenish Taylor (-Mandeville-Ellis),F,11.0,157.0,NaN,Great Britain,GBR,1932 Winter,1932,Winter,Lake Placid,Figure Skating,Figure Skating Women's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142614,71557,"Christopher Paul ""Chris"" Lori",M,NaN,NaN,NaN,Canada-2,CAN,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Two,NaN
142615,71557,"Christopher Paul ""Chris"" Lori",M,NaN,NaN,NaN,Canada-2,CAN,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
162719,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
37945,19504,Cha Yong-Hwa,F,NaN,145.0,39.0,North Korea,PRK,2008 Summer,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Individual All-Around,NaN
37946,19504,Cha Yong-Hwa,F,NaN,145.0,39.0,North Korea,PRK,2008 Summer,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Uneven Bars,NaN

In [16]:
data.sort_values(["Age", "Year"], ascending=[True, False])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze
73461,37333,Carlos Bienvenido Front Barrera,M,11.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Coxed Eights,NaN
140650,70616,Liu Luyang,F,11.0,NaN,NaN,China,CHN,1988 Winter,1988,Winter,Calgary,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
101378,51268,Beatrice Hutiu,F,11.0,151.0,38.0,Romania,ROU,1968 Winter,1968,Winter,Grenoble,Figure Skating,Figure Skating Women's Singles,NaN
252230,126307,Liana Vicens,F,11.0,158.0,50.0,Puerto Rico,PUR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 100 metres Breaststroke,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254960,127625,Ioannis Vrettos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Marathon,NaN
258828,129584,Joseph Welzenbacher,M,NaN,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athina,Cycling,Cycling Men's 100 kilometres,NaN
258829,129584,Joseph Welzenbacher,M,NaN,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athina,Cycling,Cycling Men's 12-Hours Race,NaN
264039,132122,Vasilios Xydas,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Pole Vault,NaN
270473,135285,Khristos Zoumis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Triple Jump,NaN

In [17]:
subset_data = data["Height"]
print(subset_data)

0         180.0
1         170.0
2           NaN
3           NaN
4         185.0
          ...
271111    179.0
271112    176.0
271113    176.0
271114    185.0
271115    185.0
Name: Height, Length: 271116, dtype: float64

In [18]:
subset_data1 = data[["Height", "Weight", "Age"]]
print(subset_data1)

        Height  Weight   Age
0        180.0    80.0  24.0
1        170.0    60.0  23.0
2          NaN     NaN  24.0
3          NaN     NaN  34.0
4        185.0    82.0  21.0
...        ...     ...   ...
271111   179.0    89.0  29.0
271112   176.0    59.0  27.0
271113   176.0    59.0  27.0
271114   185.0    96.0  30.0
271115   185.0    96.0  34.0

[271116 rows x 3 columns]

In [26]:
subset_df = data[data['Year'] > 2015]
print(subset_df)

            ID                           Name Sex   Age  Height  Weight  \
80          22                  Andreea Aanei   F  22.0   170.0   125.0
139         51              Nstor Abad Sanjun   M  23.0   167.0    64.0
140         51              Nstor Abad Sanjun   M  23.0   167.0    64.0
141         51              Nstor Abad Sanjun   M  23.0   167.0    64.0
142         51              Nstor Abad Sanjun   M  23.0   167.0    64.0
...        ...                            ...  ..   ...     ...     ...
271024  135528                  Marc Zwiebler   M  32.0   181.0    75.0
271053  135547  Viktoriya Viktorovna Zyabkina   F  23.0   174.0    62.0
271054  135547  Viktoriya Viktorovna Zyabkina   F  23.0   174.0    62.0
271055  135547  Viktoriya Viktorovna Zyabkina   F  23.0   174.0    62.0
271110  135568         Olga Igorevna Zyuzkova   F  33.0   171.0    69.0

              Team  NOC        Games  Year  Season            City  \
80         Romania  ROU  2016 Summer  2016  Summer  Rio de Janeiro
139          Spain  ESP  2016 Summer  2016  Summer  Rio de Janeiro
140          Spain  ESP  2016 Summer  2016  Summer  Rio de Janeiro
141          Spain  ESP  2016 Summer  2016  Summer  Rio de Janeiro
142          Spain  ESP  2016 Summer  2016  Summer  Rio de Janeiro
...            ...  ...          ...   ...     ...             ...
271024     Germany  GER  2016 Summer  2016  Summer  Rio de Janeiro
271053  Kazakhstan  KAZ  2016 Summer  2016  Summer  Rio de Janeiro
271054  Kazakhstan  KAZ  2016 Summer  2016  Summer  Rio de Janeiro
271055  Kazakhstan  KAZ  2016 Summer  2016  Summer  Rio de Janeiro
271110     Belarus  BLR  2016 Summer  2016  Summer  Rio de Janeiro

                Sport                                    Event Medal
80      Weightlifting  Weightlifting Women's Super-Heavyweight   NaN
139        Gymnastics   Gymnastics Men's Individual All-Around   NaN
140        Gymnastics          Gymnastics Men's Floor Exercise   NaN
141        Gymnastics           Gymnastics Men's Parallel Bars   NaN
142        Gymnastics          Gymnastics Men's Horizontal Bar   NaN
...               ...                                      ...   ...
271024      Badminton                  Badminton Men's Singles   NaN
271053      Athletics             Athletics Women's 100 metres   NaN
271054      Athletics             Athletics Women's 200 metres   NaN
271055      Athletics   Athletics Women's 4 x 100 metres Relay   NaN
271110     Basketball            Basketball Women's Basketball   NaN

[13688 rows x 15 columns]

In [27]:
subset_df4 = data[data['Sport'] == "Swimming"]
print(subset_df4)

            ID                             Name Sex   Age  Height  Weight  \
29          10   Einar Ferdinand "Einari" Aalto   M  26.0     NaN     NaN
35          15             Arvo Ossian Aaltonen   M  22.0     NaN     NaN
36          15             Arvo Ossian Aaltonen   M  22.0     NaN     NaN
37          15             Arvo Ossian Aaltonen   M  30.0     NaN     NaN
38          15             Arvo Ossian Aaltonen   M  30.0     NaN     NaN
...        ...                              ...  ..   ...     ...     ...
271012  135522  Klaas Erik "Klaas-Erik" Zwering   M  19.0   189.0    80.0
271013  135522  Klaas Erik "Klaas-Erik" Zwering   M  23.0   189.0    80.0
271038  135539            Marius Edmund Zwiller   M  18.0     NaN     NaN
271087  135556       Bogusaw Stanisaw Zychowicz   M  19.0   189.0    80.0
271088  135556       Bogusaw Stanisaw Zychowicz   M  19.0   189.0    80.0

               Team  NOC        Games  Year  Season       City     Sport  \
29          Finland  FIN  1952 Summer  1952  Summer   Helsinki  Swimming
35          Finland  FIN  1912 Summer  1912  Summer  Stockholm  Swimming
36          Finland  FIN  1912 Summer  1912  Summer  Stockholm  Swimming
37          Finland  FIN  1920 Summer  1920  Summer  Antwerpen  Swimming
38          Finland  FIN  1920 Summer  1920  Summer  Antwerpen  Swimming
...             ...  ...          ...   ...     ...        ...       ...
271012  Netherlands  NED  2000 Summer  2000  Summer     Sydney  Swimming
271013  Netherlands  NED  2004 Summer  2004  Summer     Athina  Swimming
271038       France  FRA  1924 Summer  1924  Summer      Paris  Swimming
271087       Poland  POL  1980 Summer  1980  Summer     Moskva  Swimming
271088       Poland  POL  1980 Summer  1980  Summer     Moskva  Swimming

                                                Event   Medal
29                Swimming Men's 400 metres Freestyle     NaN
35             Swimming Men's 200 metres Breaststroke     NaN
36             Swimming Men's 400 metres Breaststroke     NaN
37             Swimming Men's 200 metres Breaststroke  Bronze
38             Swimming Men's 400 metres Breaststroke  Bronze
...                                               ...     ...
271012     Swimming Men's 4 x 100 metres Medley Relay     NaN
271013  Swimming Men's 4 x 100 metres Freestyle Relay  Silver
271038         Swimming Men's 200 metres Breaststroke     NaN
271087            Swimming Men's 100 metres Butterfly     NaN
271088            Swimming Men's 200 metres Butterfly     NaN

[23195 rows x 15 columns]

In [28]:
subset_df1 = data['Year'] > 2015
subset_df2 = data['Sport'] == "Swimming"
subset_df3 = data[subset_df1 & subset_df2]
subset_df3.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
751,430,Matthew Duncan Abeysinghe,M,20.0,180.0,74.0,Sri Lanka,SRI,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Freestyle,NaN
813,465,"Matthew ""Matt"" Abood",M,30.0,197.0,92.0,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 50 metres Freestyle,NaN
814,465,"Matthew ""Matt"" Abood",M,30.0,197.0,92.0,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Bronze
1032,578,Bourhan Abro,M,21.0,180.0,70.0,Djibouti,DJI,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 50 metres Freestyle,NaN
1168,650,Javier Carlos Acevedo,M,18.0,182.0,68.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Backstroke,NaN

In [29]:
print(data['Height'].dtype)
print(data['Weight'].dtype)

float64
float64

In [33]:
data['BMI'] = data['Weight'] / (data['Height'] ** 2)
data.head(20)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,BMI,Ikatyypit
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,0.002469,Aikuinen
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,0.002076,Aikuinen
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN,Aikuinen
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,NaN,Aikuinen
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,0.002396,Aikuinen
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,0.002396,Aikuinen
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,0.002396,Aikuinen
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,0.002396,Aikuinen
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,0.002396,Aikuinen
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,0.002396,Aikuinen
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,0.002122,Aikuinen
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,0.002122,Aikuinen
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,0.002122,Aikuinen
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,0.002122,Aikuinen
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,0.002122,Aikuinen
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,0.002122,Aikuinen
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,0.002122,Aikuinen
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,0.002122,Aikuinen
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,0.002150,Aikuinen
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,0.002150,Aikuinen

In [34]:
def categorize_age (Age):
    if Age < 18:
        return 'Alaikainen'
    elif Age < 60:
        return 'Aikuinen'
    else:
        return 'Seniori'

data['Ikatyypit'] = data['Age'].apply(categorize_age)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,BMI,Ikatyypit
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,0.002469,Aikuinen
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,0.002076,Aikuinen
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN,Aikuinen
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,NaN,Aikuinen
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,0.002396,Aikuinen